<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ramsauerd89cs.twitterv2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c938ce7c86a37d15a639a84eb6feb89a4a85ad03" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
